<div class="checkout-section px-4 py-0">
    <input type="hidden" id="endapi" value="<%# endApi %>">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="blog-sidebar-wrap widget-wrapper pb-20">
                    <div class="sidebar-widget-wrap">
                        <h4 class="widget-title">Total Job Post</h4>
                        <Span class="fs-1 text-bold">1</Span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-sidebar-wrap widget-wrapper pb-20">
                    <div class="sidebar-widget-wrap">
                        <h4 class="widget-title">Total Applications</h4>
                        <Span class="fs-1 text-bold">1</Span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="blog-sidebar-wrap widget-wrapper pb-20">
                    <div class="sidebar-widget-wrap">
                        <h4 class="widget-title">Applications</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>