<main>
    <!-- hero start -->
    <div class="hero-section-2">
        <div class="container">
            <div class="row align-items-center justify-content-xl-between justify-content-center">
                <div class="col-xxl-7 col-xl-6 col-lg-10">
                    <div class="hero-content-2">
                        <div class="sub-title">
                            <p>All The best Platform</p>
                        </div>
                        <div class="title">
                            <h1>Find Your Dream Job Today</h1>
                        </div>
                        <div class="description">
                            <p>Drive innovation by developing cutting-edge multimedia solutions for online platforms.
                            </p>
                        </div>
                        <div class="subscribe-form">
                            <form action="/find/jobs" method="get">
                                <div class="input-wrap">
                                    <input type="text" name="search" placeholder="Find your dream job">
                                    <button class="submit-btn" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 text-center mt-lg-50 mt-md-50 mt-xs-50">
                    <div class="hero-img-wrapper">
                        <div class="main-img-2">
                            <img src="/assets/img/mainBanner.jpg" alt="thumb">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hero end -->

    <!-- Categories start -->
    <div class="categories-section-2 pt-150 pb-120 pt-lg-120 pb-lg-90 pt-md-80 pb-md-50 pt-xs-50 pb-xs-20">
        <div class="container">
            <div class="row text-center">
                <div class="col-xl-12">
                    <div class="section-title mb-50">
                        <div class="sub-title mb-10">
                            <p>Top Categories</p>
                        </div>
                        <div class="title">
                            <h2>Explore Our Courses</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-2 row-cols-1 text-center justify-content-center">
                <div class="col">
                    <div class="course-category-wrap">
                        <div class="icon">
                            <img src="assets/img/icon/bag.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4>
                                <a href="#">Account & Business</a>
                            </h4>
                            <p>263+ Course Available</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="course-category-wrap">
                        <div class="icon">
                            <img src="assets/img/icon/document.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4>
                                <a href="#">Certificat Course</a>
                            </h4>
                            <p>350+ Course Available</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="course-category-wrap">
                        <div class="icon">
                            <img src="assets/img/icon/camera.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4>
                                <a href="#">Photography</a>
                            </h4>
                            <p>250+ Course Available</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="course-category-wrap">
                        <div class="icon">
                            <img src="assets/img/icon/volume-up.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4>
                                <a href="#">Audio Book</a>
                            </h4>
                            <p>260+ Course Available</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="course-category-wrap">
                        <div class="icon">
                            <img src="assets/img/icon/category.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4>
                                <a href="#">Management</a>
                            </h4>
                            <p>300+ Course Available</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories end -->

    <!-- About start -->
    <div class="about-section-2 pb-150 pb-lg-120 pb-md-80 pb-xs-50">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-9 mb-lg-50 mb-md-50 mb-xs-50">
                    <div class="about-img-wrapper-2">
                        <div class="about-main-img">
                            <img src="assets/img/about/about-2.png" alt="main img">
                        </div>
                        <div class="about-img-2 d-none d-xl-inline-block">
                            <img src="assets/img/about/about-3.jpg" alt="thumb">
                        </div>
                        <div class="experience-box text-center">
                            <div class="text-content text-start mb-10">
                                <span><img src="assets/img/icon/experience.svg" alt="icon"></span>
                                <h4>25
                                    Years</h4>
                            </div>
                            <h6>Working Exprience</h6>
                        </div>
                        <div class="happy-student-count-box">
                            <div class="student-avatar">
                                <img src="assets/img/about/studeet-thumb.jpg" alt="thumb">
                            </div>
                            <div class="inner-content">
                                <h6>Happy Students</h6>
                                <p>From Last 7 Days</p>
                            </div>
                            <div class="counter-wrapper">
                                <div class="bubble-dot"></div>
                                <div class="number">
                                    <h6 class="odometer">00</h6>
                                </div>
                                <span class="count-mark">k+</span>
                            </div>
                        </div>
                        <div class="shape-4 d-none d-xl-inline-block">
                            <img src="assets/img/shape/half-round-2.svg" alt="shape">
                        </div>
                        <div class="shape-5">
                            <img src="assets/img/shape/horn-2.svg" alt="shape">
                        </div>
                        <div class="bubble-1"></div>
                        <div class="bubble-2 d-none d-xl-inline-block"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about-content-2">
                        <div class="section-title">
                            <div class="sub-title mb-10">
                                <p>About Us</p>
                            </div>
                            <div class="title">
                                <h2>
                                    We Provide Best Online
                                    Education Course
                                </h2>
                            </div>
                        </div>
                        <div class="description">
                            <p>
                                On the other hand, we denounce with righteous indignation and dislike men who
                                are so
                                beguiled and demoralized by the charms of pleasure.
                            </p>
                        </div>
                        <div class="about-box-wrap">
                            <div class="about-box">
                                <div class="icon">
                                    <a href="#">
                                        <i class="fa-solid fa-shield-check"></i>
                                    </a>
                                </div>
                                <h3 class="title">
                                    Build Your Career
                                </h3>
                                <div class="text">
                                    <p>
                                        Online Course Quickly
                                        From Anywhere
                                    </p>
                                </div>
                            </div>
                            <div class="about-box">
                                <div class="icon">
                                    <a href="#">
                                        <i class="fa-solid fa-star"></i>
                                    </a>
                                </div>
                                <h3 class="title">Grow Your Skills</h3>
                                <div class="text">
                                    <p>
                                        Online Course Quickly
                                        From Anywhere
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="theme-btn">
                            <a href="about-us.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About end -->

    <!-- Counter start -->
    <div class="counter-section-2 pt-80 pb-30 pt-xs-60 pb-xs-10">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="counter-wrap-2 justify-content-xl-start justify-content-center mb-50">
                        <div class="icon">
                            <!-- <img src="assets/img/icon/add-user.svg" alt="icon"> -->
                            <i class="fa-solid fa-suitcase text-white"></i>
                        </div>
                        <div class="counter-info">
                            <div class="number">
                                <h3 class="odometer" data-count="<%= totalJobs %>">
                                    <%= totalJobs %>
                                </h3>
                            </div>
                            <div class="counter-info-divider mt-15 mb-15"></div>
                            <div class="text">
                                <p>Total Jobs</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-wrap-2 justify-content-xl-start justify-content-center mb-50">
                        <div class="icon">
                            <!-- <img src="assets/img/icon/document-w.svg" alt="icon"> -->
                             <i class="fa-solid fa-user text-white"></i>
                        </div>
                        <!-- user -->
                        <div class="counter-info">
                            <div class="number">
                                <h3 class="odometer" data-count="<%= totalrecuriters %>">
                                    <%= totalrecuriters %>
                                </h3>
                            </div>
                            <div class="counter-info-divider mt-15 mb-15"></div>
                            <div class="text">
                                <p>Total Recuriters</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-wrap-2 justify-content-xl-start justify-content-center mb-50">
                        <div class="icon">
                        </div>
                        <div class="counter-info">
                            <div class="number">
                                <h3 class="odometer" data-count="32,500">00</h3>
                            </div>
                            <div class="counter-info-divider mt-15 mb-15"></div>
                            <div class="text">
                                <p>Services Download</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="counter-wrap-2 justify-content-xl-start justify-content-center mb-50">
                        <div class="icon">
                        </div>
                        <div class="counter-info">
                            <div class="number">
                                <h3><span class="odometer" data-count="32">00</span>K</h3>
                            </div>
                            <div class="counter-info-divider mt-15 mb-15"></div>
                            <div class="text">
                                <p>Best Awards</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter end -->

    <!-- FAQ start -->
    <div class="faq-section-2 pt-80 pb-80 pt-xs-50 pb-xs-50">
        <div class="container">
            <div class="faq-wrapper-2">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6 text-xl-start text-center mb-lg-50 mb-md-50 mb-xs-50">
                        <div class="faq-thumb">
                            <div class="faq-thumb-1">
                                <img src="assets/img/faq/faq-1.jpg" alt="thumb">
                            </div>
                            <div class="faq-thumb-2 d-none d-xl-inline-block">
                                <img src="assets/img/shape/half-round-1.svg" alt="shape">
                            </div>
                            <div class="student-thumbs d-none d-xl-inline-block">
                                <h4>1000+ Happy
                                    Students</h4>
                                <div class="student-thumbs-box">
                                    <span> <img src="assets/img/chose/st-1.jpg" alt="thumb"> </span>
                                    <span><img src="assets/img/chose/st-2.jpg" alt="thumb"></span>
                                    <span><img src="assets/img/chose/st-3.jpg" alt="thumb"></span>
                                    <span><img src="assets/img/chose/st-4.jpg" alt="thumb"></span>
                                    <span class="add-more"><i class="fa-solid fa-plus"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="faq-content-wrap-2">
                            <div class="section-title mb-20">
                                <div class="sub-title mb-10">
                                    <p>Frequently Asked Question</p>
                                </div>
                                <div class="title">
                                    <h2>Have Your Any Question?</h2>
                                </div>
                            </div>
                            <div class="ext-text mb-30">
                                <p>Discover FAQ From Our Support</p>
                            </div>
                            <div class="faq-accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            How Can I Pay?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Objectively our their are many of passage cleaning the
                                            services
                                            multimedia based of network.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            What Is Process To Get Expert Team?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Objectively our their are many of passage cleaning the
                                            services
                                            multimedia based of network.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            How Does About Online Services?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Objectively our their are many of passage cleaning the
                                            services
                                            multimedia based of network.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ end -->
</main>