<div class="signup-section pt-150 pb-150 pt-lg-120 pb-lg-90 pt-md-80 pb-md-50 pt-xs-50 pb-xs-20">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="signup-form">
                    <div class="section-title text-center mb-50">
                        <div class="title">
                            <h2>Log in Your Account</h2>
                        </div>
                    </div>
                    <form method="post" action="/login" enctype="multipart/form-data">
                        <div class="input-wrap mb-20">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="input-wrap pass mb-20">
                            <input type="text" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <div class="submit-btn">
                                <button class="signup-btn btn-1" type="submit">Login Now</button>
                                <div class="redirect-section text-center">
                                    <p class="mt-40">Don’t have an account? <b><a href="/signup">Sign up
                                                Today</a></b></p>
                                    <h5 class="text-heading">Forgot password</h5>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>