<div class="signup-section pt-150 pb-150 pt-lg-120 pb-lg-90 pt-md-80 pb-md-50 pt-xs-50 pb-xs-20">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">
                <%- setting.term_condition %>
            </div>
        </div>
    </div>
</div>