<div class="breadcrumb-section pt-190 pb-150 pt-lg-120 pb-lg-120 pt-md-80 pb-md-80 pt-xs-50 pb-xs-50"
    style="background-image: url(/assets/img/banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-title-content">
                    <h2 class="title">
                        <% if (locals.subtitle) { %>
                            <%= subtitle %>
                                <% } else { %>
                                    <%= title %>
                                        <% } %>
                    </h2>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <!-- <li><a href="#">Pages</a></li> -->
                            <li>
                                <span>
                                    <%= title %>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>