<!-- header start -->
<header class="header-area header-style-2">
    <div class="main-header-area header-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-4 col-6 d-flex align-items-center">
                    <div class="logo logo-hide" style="transform: translate(0);">
                        <a href="/">
                            <img class="logo-dark logo"  alt="logo" width="80" height="80">
                        </a>
                        <!-- <div class="shape"></div> -->
                    </div>
                    <div class="category-menu-wrap">
                        <div class="header-dropdown ms-0">
                            <h1 class="text-white companyname">HireNest</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-6 d-flex justify-content-end align-items-center">
                    <div class="main-menu d-none d-xl-block">
                        <ul>
                            <li class="has-dropdown">
                                <a href="/">Home</a>
                            </li>
                            <!-- <li class="has-dropdown">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="instructors.html">Instructors</a></li>
                                    <li><a href="instructors-details.html">Instructors Details</a></li>
                                    <li class="has-dropdown">
                                        <a href="#">Shop <span></span></a>
                                        <ul class="sub-menu">
                                            <li><a href="product.html">Product</a></li>
                                            <li><a href="product-details.html">Product Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="signup.html">Signup</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="error.html">Error</a></li>
                                </ul>
                            </li> -->
                            <li class="has-dropdown">
                                <a href="/find/jobs">Find Job</a>
                                <!-- <ul class="sub-menu">
                                    <li><a href="blog-classic.html">Blog Classic</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul> -->
                            </li>
                            <% if (locals.user) { %>
                                <li>
                                    <a href="<%= user.isrecuiter ? '/recruiter/profile' : '/profile' %>">
                                        <%= user.isrecuiter ? ' Post Job' :'Profile' %>
                                    </a>
                                </li>
                                <% } else { %>
                                    <li>
                                        <a href="/login"> Login </a>
                                    </li>
                                <% } %>
                        </ul>
                    </div>
                    <div class="open-menu-bar">
                        <div class="bar-1"></div>
                        <div class="bar-2"></div>
                        <div class="bar-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->