<!-- off-canvas start -->
<div class="off-canvas-section">
    <div class="off-canvas-wrap">
        <div class="off-canvas-head mb-30">
            <div class="logo">
                <a href="/">
                    <img src="/assets/img/close.webp" alt="logo" width="80" height="80">
                </a>
            </div>
            <div class="off-canvas-close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="off-canvas-menu mb-30">
            <ul>
                <li class="has-dropdown">
                    <a href="/">Home</a>
                </li>
                <li><a href="/">About</a></li>
                <li class="has-dropdown">
                    <a href="index.html">Course</a>
                    <ul class="sub-menu">
                        <li><a href="course-list.html">Course List</a></li>
                        <li><a href="course-grid.html">Course Grid</a></li>
                        <li><a href="course-details.html">Course Details</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="instructors.html">Instructors</a></li>
                        <li><a href="instructors-details.html">Instructors Details</a></li>
                        <li class="has-dropdown">
                            <a href="#">Shop <span></span></a>
                            <ul class="sub-menu">
                                <li><a href="product.html">Product</a></li>
                                <li><a href="product-details.html">Product Details</a></li>
                            </ul>
                        </li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">Signup</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="error.html">Error</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="index.html">Blogs</a>
                    <ul class="sub-menu">
                        <li><a href="blog-classic.html">Blog Classic</a></li>
                        <li><a href="blog-grid.html">Blog Grid</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <!-- offset-sidebar start -->
    </div>
    <div class="off-canvas-overlay"></div>
</div>
<!-- off-canvas end -->