<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-6">
                <h1 class="mb-2">Site Settings</h1>
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Settings - Site Settings</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form action="/dashboard/setting/general-settings" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <% if (locals.error) { %>
                                <div class="alert alert-error">
                                    <%= error %>
                                </div>
                                <% } %>
                                    <div class="form-group">
                                        <label for="companyname">Company Name</label>
                                        <input type="text" class="form-control" id="companyname" name="companyname"
                                          value="<%= settings.companyname %>"  required>
                                    </div>
                                    <div class="form-group">
                                        <label for="companyemail">Company Email</label>
                                        <input type="email" class="form-control" id="companyemail" name="companyemail"
                                          value="<%= settings.companyemail %>"  required>
                                    </div>
                                    <div class="form-group">
                                        <label for="contact">Contact</label>
                                        <input type="text" class="form-control" id="contact" name="contact" value="<%= settings.contact %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">Upload Logo</label>
                                        <input type="file" class="form-control" id="exampleInputFile" name="logo">
                                    </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>