<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/dashboard" class="brand-link">
        <img src="/assets/img/9131646.png" alt="Classified Ads" class="brand-image img-circle elevation-3"
            style="opacity: 0.8">
        <h1 class="brand-text font-weight-light">
            HireNest
        </h1>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- users -->
                <li class="nav-item">
                    <a href="/dashboard/users" class="nav-link">
                        <i class="fa-solid fa-users"></i>
                        <p> users </p>
                    </a>
                </li>
                <!-- users -->
                <!-- job attributes -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-layer-group"></i>
                        <p>
                            Job Attributes
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/dashboard/job/degree" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p class="text">Degree Level</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/dashboard/job/category" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p class="text">Job Category</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/dashboard/job/industry" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p class="text">Job Industry</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/dashboard/job/tags" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p class="text">Job Tags</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/dashboard/job/types" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p class="text">Job Types</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- job attributes -->
                <!-- settings -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-gears"></i>
                        <p>
                            Settings
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/dashboard/setting/term&condition" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p class="text">Terms & condition</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- settings -->
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>